root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{lua,obj,anm,scn,cam,tra}]
charset = shift-jis
indent_size = 2
indent_style = space
end_of_line = crlf

[*.{exa,exo}]
charset = shift-jis
end_of_line = crlf

[*.{html,css,js,ejs}]
indent_size = 2
indent_style = space
